body {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* Rich Blue Black */
    color: #002240
}

header {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
}

header nav ul {
    display: none;
}

header nav img {
    display: block;
    left: calc(50% - 26.4px/2 - 119.8px);
    top: 18.04px;
    height: 20.96px;
}

button.primary {
    background: #0688FA;
    color: white;
    border: 2px solid white;
}
  
button.secondary {
    border: 2px solid #0688FA;
    color: #0688FA;
    background: white;
}