body {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* Rich Blue Black */
    color: #002240
}

header {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    text-align: center;
}
