body {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: block;
    /* Rich Blue Black */
    color: #002240
}

header {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
}

header nav ul {
    display: none;
}

header nav img {
    position: absolute;
    display: block;
    left: 26px;
    top: 18.04px;
    height: 20.96px;
}

button.primary {
    color: white;
    background: #0688FA;
}
  
button.secondary {
    color: #0688FA;
    background: white;
    border: 1px solid #0688FA;
}

.content {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 80px;
    padding: 40px;
}

.hero {
    position: absolute;
    width: 268px;
    height: 296px;
    left: 26px;
    top: 76px;
    background-position: center center;
    background-repeat: no-repeat;
}

.intro h3 {
    position: absolute;
    width: 270px;
    height: 108px;
    left: 24px;
    top: 397px;

    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
}

.intro p {
    position: absolute;
    width: 270px;
    height: 608px;
    left: 26px;
    top: 528px;

    line-height: 24px;
}

/* .mission h1 {
    position: absolute;
    width: 270px;
    height: 38px;
    left: 24px;
    margin-top: 239px;
    font-weight: "bold";
    font-size: 28px;
    line-height: 110%;
} */